<main>
    <h1>Thread Catalog</h1>

    {{#if threads}}
        <div class="thread-list">
            {{#each threads}}
                <p class="thread-link">
                    <a href="/threads/{{this.tidnum}}">{{this.ttext}}</a>
                </p>
            {{/each}}
        </div>
    {{else}}
        <p class="no-threads">
            No threads to display.
        </p>
    {{/if}}

</main>