
<h1>Please Login to ChatSprout</h1>
<main>
    <form id="login-form" method="post" action="/login">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
        <button type="submit">Login</button>
    </form>
    <p class="errormsg">{{{errormsg}}}</p>
    <p class="info">Example user credentials: username=test, password=test</p>
</main>