<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<img src="/public/logo.png">
{{{body}}}
</body>
</html>