<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <div class="logo"><a href="/"><img src="/public/logo.png"></a></div>
    <div class="login-notif">
        {{#if loginuser}}
            Logged in as: {{loginuser}} | <a href="/logout">Logout</a>
        {{else}}
            You are not logged in | <a href="/login">Login</a> | <a href="/register">Register</a>
        {{/if}}
    </div>
    {{{body}}}
</body>
</html>