<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<div class="logo"><a href="/"><img src="/public/logo.png"></a></div>
{{{body}}}
</body>
</html>