<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <img src="/public/logo.png"><br/>
    <div style="login-notif">
        {{#if loginuser}}
            Logged in as: {{loginuser}} | <a href="/logout">Logout</a>
        {{else}}
            You are not logged in | <a href="/login">Login</a>
        {{/if}}
    </div>
    {{{body}}}
</body>
</html>