
<h1>Register for ChatSprout</h1>
<main>
    <form id="register-form" method="post" action="/register">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
        <button type="submit">Register</button>
    </form>
    <p class="errormsg">{{{errormsg}}}</p>
</main>